################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatternCombo1.Infrastructure/bin/Debug/netcoreapp2.1
