################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatternCombo1.Infrastructure/bin/Debug/netcoreapp2.1
/DesignPatternCombo1.Infrastructure/obj
/DesignPatternCombo1.Web/bin/Debug/netcoreapp2.1
/DesignPatternCombo1.Web/obj
/.vs
